[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/capstone-BE/venv/bin/uwsgi -i /srv/capstone-BE/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target